<ion-header *ngIf="scoreboardLoaded && eventLoaded">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="[ '/event-details/', eventID ]">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ event.name }} - Capture Scores
    </ion-title>
    <ion-buttons slot="primary" *ngIf="!loading">
      <ion-button [routerLink]="[ '/scoreboard-teams/', eventID ]">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
      <ion-button (click)="calculateClasses()">
        <ion-icon name="calculator"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="[ '/shoot-off/', eventID ]">
        <ion-icon name="contacts"></ion-icon>
      </ion-button>
      <ion-button (click)="squadToggle()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
      <ion-button (click)="save()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-spinner name="circles" *ngIf="loading"></ion-spinner>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="scoreboardLoaded && eventLoaded">
  <ion-grid fixed id="scoreboardMin">
    <ion-chip outline color="primary">
      <ion-label>Your screen is too small for this feature. Either rotate your screen or use a larger device.
      </ion-label>
    </ion-chip>
  </ion-grid>
  <ion-grid fixed id="scoreboardMax">
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <form [formGroup]="scoreForm">
          <table style="border-top-left-radius:15px;border-top-right-radius:15px;">
            <thead>
              <tr>
                <th class="ion-text-left" style="border-top-left-radius:15px;">Member</th>
                <th class="ion-text-center">Category</th>
                <th class="ion-text-center">Class</th>
                <th class="ion-text-center">Squad</th>
                <th class="ion-text-center">Range 1</th>
                <th class="ion-text-center">Range 2</th>
                <th class="ion-text-center">Range 3</th>
                <th class="ion-text-center">Range 4</th>
                <th class="ion-text-center total">Total Day 1</th>
                <th class="ion-text-center">Range 5</th>
                <th class="ion-text-center">Range 6</th>
                <th class="ion-text-center">Range 7</th>
                <th class="ion-text-center">Range 8</th>
                <th class="ion-text-center total">Total Day 2</th>
                <th class="ion-text-center grandTotal">Grand Total</th>
                <th class="ion-text-center highScore">% of High Gun</th>
                <th class="ion-text-center">Shoot-Off</th>
                <th class="ion-text-center" style="border-top-right-radius:15px;">Class Override</th>
              </tr>
            </thead>
            <tbody formArrayName="scores">
              <tr *ngFor="let score of getScoreControls();let i=index" [formGroupName]="i">
                <td style="padding-left:15px;">{{score.value.member}}</td>
                <td class="ion-text-center">{{score.value.category}}</td>
                <td class="ion-text-center">{{score.value.class}}</td>
                <td class="ion-text-center">{{score.value.squadNumber}}</td>
                <td class="ion-text-center" [ngClass]="{'maxScore': score.value.range1Score == 25}">
                  <input [ngClass]="{'invalid': score.status === 'INVALID'}" (change)="updateScore(i)" type="text"
                    formControlName="range1Score">
                </td>
                <td class="ion-text-center" [ngClass]="{'maxScore': score.value.range2Score == 25}">
                  <input [ngClass]="{'invalid': score.status === 'INVALID'}" (change)="updateScore(i)" type="text"
                    formControlName="range2Score">
                </td>
                <td class="ion-text-center" [ngClass]="{'maxScore': score.value.range3Score == 25}">
                  <input [ngClass]="{'invalid': score.status === 'INVALID'}" (change)="updateScore(i)" type="text"
                    formControlName="range3Score">
                </td>
                <td class="ion-text-center" [ngClass]="{'maxScore': score.value.range4Score == 25}">
                  <input [ngClass]="{'invalid': score.status === 'INVALID'}" (change)="updateScore(i)" type="text"
                    formControlName="range4Score">
                </td>
                <td class="ion-text-center total">{{score.value.day1Total}}</td>
                <td class="ion-text-center" [ngClass]="{'maxScore': score.value.range5Score == 25}">
                  <input [ngClass]="{'invalid': score.status === 'INVALID'}" (change)="updateScore(i)" type="text"
                    formControlName="range5Score">
                </td>
                <td class="ion-text-center" [ngClass]="{'maxScore': score.value.range6Score == 25}">
                  <input [ngClass]="{'invalid': score.status === 'INVALID'}" (change)="updateScore(i)" type="text"
                    formControlName="range6Score">
                </td>
                <td class="ion-text-center" [ngClass]="{'maxScore': score.value.range7Score == 25}">
                  <input [ngClass]="{'invalid': score.status === 'INVALID'}" (change)="updateScore(i)" type="text"
                    formControlName="range7Score">
                </td>
                <td class="ion-text-center" [ngClass]="{'maxScore': score.value.range8Score == 25}">
                  <input [ngClass]="{'invalid': score.status === 'INVALID'}" (change)="updateScore(i)" type="text"
                    formControlName="range8Score">
                </td>
                <td class="ion-text-center total">{{score.value.day2Total}}</td>
                <td class="ion-text-center grandTotal">{{score.value.grandTotal}}</td>
                <td class="ion-text-center highScore">
                  {{score.value.highGunPercentage| percent:'1.2-2'}}</td>
                <td class="ion-text-center">
                  <ion-checkbox (click)="shootOff(score.value.userID, $event)" formControlName="shootOff">
                  </ion-checkbox>
                </td>
                <td>
                  <ion-button [routerLink]="[ '/events', eventID, 'class-override',score.value.userID ]">
                    <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
                  </ion-button>
                </td>

              </tr>
            </tbody>
          </table>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>